*{
    text-decoration: none;
}
body{
    background: #07010c;
    color: #fff;
}
.header{
    display: flex;
    /* background: #9b88f0; */
    justify-content: space-between;
    padding: 2rem;
}
.logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}

/* .navbar{
    margin-left: 54rem;
} */
.navbar a{
    margin-left: 4rem;
    font-size: 1.5rem;
    color: #fff;
}
.navbar a:hover{
    color: rgb(195, 21, 218);
}
  
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem 2rem;
    /* We can right padding top, down, left, right or we can directly do that using this shorthand property. */
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 35vw;
}
.home-content h3 {
font-size: 2rem;
font-weight: 700;
}
.home-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 0.2;
}

.home-content p {
    font-size: 1.5rem;
    
}
span{
    color: rgb(195, 21, 218);
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid rgb(171, 25, 255);
    border-radius: 50%;
    color: rgb(171, 25, 255);
    margin: 3rem 1.5rem 3rem 0rem;
    transition: .5s ease;     
}
.social-media a:hover{
    color: rgb(32, 8, 37);
    background: rgb(189, 3, 231);
    box-shadow: 0 0 1rem rgb(24, 9, 77);
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background:  rgb(189, 3, 231);
    color: rgb(32, 8, 37);
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgb(226, 3, 247);
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #07010c;
    
}
.about-img img{
    width: 40vw;
    margin-right: 3.5rem;
}
.heading{ 
 font-size: 3.5rem;
 text-align: center;
}
.about-content h3{
    font-size: 1.5rem;
    text-align: left;
    margin: 2rem 0 3rem;
    line-height: 0.2;
    
}


.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* This makes the elements inside here in a vertical position. */
}
.services h2{
    margin-bottom: 5rem;
}
.service-container .service-box{
    flex: 1 1;
    /* To make the classes with service box under the class of service-container in a horizontal manner */
    background-color: #07010c;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5s ease;
}
.service-container .service-box:hover{
    border-color: rgb(189, 3, 231);
    transform: scale(1.02);
}
.service-box i{
    font-size: 3rem;
    color: rgb(189, 3, 231);
}
.service-box h3{
    font-size: 2rem;
}
.service-box p{
    font-size: 1.2rem;
    margin: 1rem 0 3rem;}

.project{
    background: #07010c;
}
.project h2{
    margin-bottom: 4rem;
}
.project-container{
    display: grid;
    /* We can make the things in a horizontal basis by also using grid properties */
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(226, 3, 247);
    overflow: hidden;
    display: flex;
}
.project-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(232, 12, 240, 0.541),rgba(203, 131, 236, 0.281));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .portfolio-layer{
    /* Whenever we are hovering the project box, the portfolio layer will be targetted */
    transform: translateY(0);
}
.read{
    width: 35vw;
    height: 50vh
}
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    padding: 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    background: #323946;
    color: #fff;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 45%;
}

.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .input-box input{
    border-radius: 2rem;
}

.contact form textarea{
    border-radius: 2rem
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #323946;
    padding: 1rem 5%;
}

.footer-text{
    font-size: 1.5rem;
}

.footer-icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 0, 255);
    border-radius: 1rem;
    transition: .5s ease;
}

.footer-icon-top a i{
    font-size: 2rem;
    color: #1f242d;
}

.footer-icon-top a:hover{
    box-shadow: 0 0 1rem rgb(255, 0, 255);
}

.ehobby{
   color: #fff; 
}